*
# Ignora todos los archivos excepto los que se indican a continuación
!.gitignore
# Ignora todos los archivos de la carpeta DataSets excepto los que se indican a continuación
!DataSets/
!DataSets/**
# Ignora todos los archivos de Jupyter Notebook excepto los que se indican a continuación
!Practicas_extras.ipynb
!Notebook 1-actualizado.ipynb
!Notebook 2-actualizado.ipynb
!Notebook 3-actualizado.ipynb
!Notebook 4-actualizado.ipynb
!Notebook 5-actualizado.ipynb
!Notebook 6-actualizado.ipynb
!Notebook 7-actualizado.ipynb
# Detalla cada librerira que instale para correr los notebooks
!requirements.txt